[Unit]
Description=ValkyriaOS NordVPN Group Setup
After=systemd-user-sessions.service
Before=nordvpnd.service
ConditionPathExists=!/var/lib/valkyriaos-nordvpn-setup

[Service]
Type=oneshot
ExecStart=/usr/libexec/valkyria-nordvpn-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
